@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}

* {
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 550px) {
  .section1 {
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.section1__heading {
  color: white;
  font-size: 1.9rem;
  text-align: center;
}
@media screen and (min-width: 550px) {
  .section1__heading {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: left;
  }
}
.section1__para {
  color: #fff;
  opacity: 0.9;
  text-align: center;
  font-weight: 500;
}
@media screen and (min-width: 550px) {
  .section1__para {
    line-height: 1.5rem;
    margin-top: -0.5rem;
    text-align: left;
  }
}

.section2 {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 550px) {
  .section2 {
    flex: 2 0 0;
  }
}
.section2__btn {
  background-color: var(--Blue);
  border: none;
  color: #fff;
  padding: 2rem 5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.6rem 0px 0px rgba(1, 1, 1, 0.2);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media screen and (min-width: 550px) {
  .section2__btn {
    padding: 1.2rem 0;
    box-shadow: 0 0.6rem 0px 0px rgba(1, 1, 1, 0.1);
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 0.7rem;
  row-gap: 0.01rem;
  padding: 1.5rem;
  row-gap: 0.9rem;
  box-shadow: 0 0.6rem 0px 0px rgba(1, 1, 1, 0.3);
}
@media screen and (min-width: 550px) {
  .form {
    padding: 2.7rem;
    box-shadow: 0 0.6rem 0px 0px rgba(1, 1, 1, 0.2);
  }
}
.form__input {
  display: flex;
  height: 3.3rem;
  border-color: rgba(1, 1, 1, 0.1);
  border-width: 0.1rem;
  border-radius: 0.4rem;
  padding-left: 1.2rem;
  font-weight: 700;
  font-size: 0.87rem;
  color: var(--DarkBlue);
}
.form__input:focus {
  outline: none !important;
  border: 1px solid var(--Blue);
}
.form__sub-btn {
  background: hsla(154deg, 59%, 51%, 0.9);
  border: none;
  border-radius: 0.2rem;
  height: 3.5rem;
  box-shadow: 0 0.3rem 0px 0px var(--Green);
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}
.form__sub-btn:active {
  background: hsla(154deg, 59%, 51%, 0.8);
}
.form__error {
  align-self: flex-end;
  display: none;
  font-style: italic;
  color: var(--Red);
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.3rem;
}
.form p {
  display: flex;
  margin: 0;
  flex-direction: column;
}
.form__agreement {
  display: block !important;
  text-align: center;
  color: var(--GrayishBlue);
  font-weight: 500;
  font-size: 0.8rem;
}
@media screen and (min-width: 550px) {
  .form__agreement {
    font-size: 0.7rem;
    display: block;
  }
}
.form__agreement__red {
  color: var(--Red);
  font-weight: 700;
}

.error {
  border: 1.5px solid var(--Red);
  outline: none;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 95% 17px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: url("../images/bg-intro-mobile.png"), var(--Red);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 1.3rem;
}
@media screen and (min-width: 550px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-intro-desktop.png");
  }
}

.container {
  max-width: 75rem;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media screen and (min-width: 550px) {
  .container {
    flex-direction: row;
    column-gap: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
